%thead
  %tr
    %th= t("patients.medic_record")
    %th= t("patients.full_name")
    %th= t("patients.age")
    %th= t("activerecord.attributes.patient.gender")
    %th= t("activerecord.attributes.patient.status")
    %th= t("locations.name")
    %th= t("activerecord.attributes.patient.viewed_count")

