%h1
  = t("patients.patients_title")
%table.table-bordered.table-striped.table-hover.patients-list
  %thead
    %tr
      %th= t("patients.medic_record")
      %th= t("patients.full_name")
      %th= t("patients.age")
      %th= t("patients.gender")
      %th= t("patients.status")
      %th= t("locations.name")
      %th= t("patients.viewed_count")
  %tbody
    - @patients.each do |patient|
      %td= patient.id
      %td= "patient.full_name"
      %td= "patient.age"
      %td= "patient.gender"
      %td= "patient.status"
      %td= patient.location.try(:name)
      %td= patient.viewed_count
