!!! 5
%html
  %head
    %title
      = @page_title || "Patients"
  %meta{charset: 'utf-8'}
  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
  = javascript_include_tag 'application', 'data-turbolinks-track' => true
  = csrf_meta_tags
  %body
    .container
      - if session[:locale] != LOCALE_CHINESE
        = button_to "切换为中文", set_locale_path(locale: LOCALE_CHINESE),
          class: "btn btn-default", style: "float:left"
      - if  session[:locale] != LOCALE_ENGLISH
        = button_to "Use English",set_locale_path(locale: LOCALE_ENGLISH),
          class: "btn btn-default", style: "float:left"
      %br
      = yield

